
<br>
<div class="well">
  <h2>Add a new book:</h2>
  <form class="form-group" action="/librarian" method="post">
    <input name="title" class="form-control" type="text" placeholder="Title"><br>
    <input name="author" class="form-control" type="text" placeholder="Author"><br>
    <input name="genre" class="form-control" type="text" placeholder="Genre"><br>
    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>
<br>


  <h2>Catalog:</h2>
  <p>Click a book to edit record.</p>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
    </tr>
      <% @book_list.each do |book| %>
        <a href="/librarian/book/<%= book.id %>">
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.genre %></td>
        </tr>
        </a>
      <% end %>
  </table>
