
<br>
<div class="well">
  <h2>Add a new book:</h2>
  <form class="form-group" action="/librarian" method="post">
    <input name="title" class="form-control" type="text" placeholder="Title"><br>
    <input name="author" class="form-control" type="text" placeholder="Author"><br>
    <input name="genre" class="form-control" type="text" placeholder="Genre"><br>
    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>
<br>
